.mdl-button--raised {background: rgba(158,158,158,.2);box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);}
.mdl-button {box-sizing: border-box;align-items: flex-start;background: 0 0;border: none;border-radius: 2px;color: #000;position: relative;height: 36px;margin: 0;min-width: 64px;padding: 0 16px;display: inline-block;font-family: 'Roboto','Helvetica','Arial',sans-serif;font-size: 14px;font-weight: 500;text-transform: uppercase;letter-spacing: 0;overflow: hidden;will-change: box-shadow;transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);outline: none;cursor: pointer;text-decoration: none;text-align: center;line-height: 36px;vertical-align: middle;text-shadow: none;text-indent: 0px;font: 13.3333px Arial;word-spacing: normal;text-rendering: auto;}
.mdl-button{-webkit-tap-highlight-color: rgba(255,255,255,0);}
button {padding: 1px 6px;}
html, body {font-family: 'Helvetica','Arial',sans-serif;font-size: 14px;font-weight: 400;line-height: 20px;margin: 0;padding: 0;}
html {color: rgba(0,0,0,.87);}
::selection {background: #b3d4fc;text-shadow: none;}h1{line-height: 2.3em;font-size: 2em;font-weight: 500;}
.mdl-button--raised[disabled="true"]{background-color: rgba(0,0,0,.12);color: rgba(0,0,0,.26);box-shadow: none;}
.mdl-button--raised[disabled="true"]{background-color: rgba(0,0,0,.12);color: rgba(0,0,0,.26);box-shadow: none;}
.mdl-button[disabled="true"]{color: rgba(0,0,0,.26);cursor: default;}
.center{text-align: center;}
.logo{font-size: 2.8em;font-weight: 500;font-family: Arial;color: #ff0000;}
p{font-size: 1.122em;font-family: Arial;}
.first_word{font-size: 1.5em;}
